/*Declaração de variáveis globais*/
:root {
    /*Cores e Tipografia*/
    --primary-color: #1f618d;
    --primary-color-alt: #174e72;
    --secondary-color: #ecf0f1;
    --tertiary-color: #0e4162;
    --tertiary-color-alt: #92d2e8;
    
    --primary-text-color: #262626;
    --secondary-text-color: #fff;

    --text-size: clamp(1vw, 1.4em, 1em);
    --heading-size: clamp(2vw, 2em, 1.4em);

    --default-font: "Neue Plak";

    /* ================================= */

    /*Medidas de larguras*/

    --navbar-width: 6vw;
    --carrinho-section-width: 20vw;
    --main-section-width: 55vw;
    --header-width: 94vw;

    /* ================================= */

    /* Posicionamento/interface */

    --page-grid:
        'navbar header header header header'
        'navbar products products products carrinho'
       
}

/*Declarando fonte externa*/
@font-face {
    font-family: "Neue Plak";
    src: url('../../../assets/fonts/NeuePlak-Regular.ttf');
}