* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--default-font);
}
button:focus, input:focus {
    outline: 0;
}

::selection {
    background-color: #74bedd;
    color: var(--primary-text-color);
}