.checkout {
    width: 30vw;
    min-height: 40vh;
}

.shopping_info {
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.shopping_info .customer {
    width: 90%;
}

.checkout_heading {
    gap: .3em;
    justify-content: center;
    align-items: center;
}

.checkout_form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    margin-top: 1em;
}

.finish_form_btn {
    font-size: calc(var(--text-size) + .1em);
}