.checkout {
    width: 30vw;
    min-height: 40vh;
}

.customer {
    width: 90%;
}

.checkout_form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    margin-top: 1em;
}

.finish_form_btn {
    font-size: calc(var(--text-size) + .1em);
}