.customer {
    width: 40vw;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.close_btn {
    float: right;
    cursor: pointer;
    transition: color .5s;
}
.close_btn:hover {
    color: var(--tertiary-color);
}

.customer_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    flex-wrap: wrap;
    flex-basis: 30%;
}
.customer_container {
    cursor: pointer;
    border-radius: 4px;
    transition: background .5s;
    padding: 8px;
}
.customer_container:hover {
    background-color: var(--tertiary-color-alt);
}

.customer_space {
    gap: .8em;
}

.customer_phone {
    align-items: center;
    justify-content: center;
    gap: .3em;
}