.discount {
    width: 30vw;
    min-height: 60vh;
}

.discount_form {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 1.5em;
    border-bottom: .5px solid #acabab;
}

.discount_form > .input_container {
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}

.discount_form > .input_container > input {
    border: 1px solid var(--primary-text-color);
    padding: 5px;
    text-align: center;
    height: 40px;
    width: 80px;
    border-radius: 4px;
}

.discount_form > button {
    width: 100%;
}