@media screen and (max-width: 900px) {
    .header_first_container {
        gap: 2em;
    }
    .header_first_container > .menu_icon_container {
        display: block;
        padding: 0;
        font-size: var(--text-size);
        margin-top: 0.2em;
    }

    .navbar {
        width: 0px;
        top: 90px;
    }

    .chart_buttons_container {
        padding: 0.3em;
        justify-content: center;
    }

    .navbar.shown {
        width: 200px;
        border-right: 2px solid var(--primary-text-color);
        box-shadow: 4px 0px 4px #0000003f;
    }

    .page_header {
        width: 100vw;
        left: 0;
    }
    .navbar .menu_icon_container {
        display: none;
    }

    .products {
        --products-section: 90vw;

        margin: 100px auto;
        width: var(--products-section);
    }

    .product_chart {
        width: 90vw;
        z-index: 555;
        opacity: 0;
        margin-top: 3.1em;

        position: fixed;
            top: -20%;
            left: 50%;
        transform: translate(-50%, -60%);
    }

    .checkout {
        width: 80vw;
        min-height: 50vh;
    }

    .product_chart.shown {
        opacity: 1;
        top: 50%;

        box-shadow: 4px 4px 10px #000000af;
    }

    .top_chart_elements > .close_popup {
        opacity: 1;
    }

    .info, .obs, .customer {
        width: 80vw;
    }

    .chart_popup_trigger {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 50px;
        height: 50px;
    
        background-color: var(--primary-color);
        box-shadow: 4px 4px 4px #0000007c;
        color: var(--secondary-color);
        border-radius: 50%;
    
        position: fixed;
            bottom: 5%;
            left: 50%;
        transform: translate(-50%, 0);
        z-index: 444;
    
        transition: color .5s;
        cursor: pointer;
    }
    .chart_popup_trigger:hover {
        color: var(--tertiary-color-alt);
    }
}