.product_chart {
    background-color: #fff;

    width: 25vw;
    min-height: 80vh;

    overflow-y: scroll;

    position: fixed;
        top: 100px;
        right: 0;

    padding: 1em;
    margin-right: 0.8em;

    border-radius: 8px;

    justify-content: space-between;
}

.product_chart > .subheading {
    text-align: right;
    color: var(--tertiary-color);
}

.chart_buttons_container {
    gap: .5em;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}