.product_chart {
    gap: 2em;
    background-color: #fff;

    width: 30vw;
    min-height: 55vh;

    overflow-y: auto;

    position: fixed;
        top: 100px;
        right: 0;

    padding: 1em;
    margin-right: 0.8em;

    border-radius: 8px;

    transition: opacity .4s, top .4s;
}

.top_chart_elements {
    justify-content: space-between;
    align-items: center;
}

.close_popup {
    opacity: 0;
    font-size: var(--heading-size);
    cursor: pointer;
    color: var(--primary-text-color);
    transition: color .5s;
}
.close_popup:hover {
    color: var(--tertiary-color);
}

.chart {
    min-height: 30vh;
}

.top_chart_elements > button.subheading {
    color: var(--tertiary-color);
    cursor: pointer;
}

.chart_buttons_container {
    gap: .5em;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.selected_product {
    gap: .8em;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    font-size: calc(var(--text-size) - .2em);
}

.qtd_product {
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--primary-text-color);
}

.product_info_container {
    padding: 4px;
}

.chart_items {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5em;

    min-height: 17vh;
    border-top: 1px solid #eee;
    padding-top: 1em;
    font-size: calc(var(--text-size) - .2em)
}

#chart_info {
    gap: .5em;
    flex-wrap: wrap;
    flex-basis: clamp(10.5vw, 14em, 12em);
}

#chart_info > p {
    padding: 2px;
}