.product_chart {
    gap: 2em;
    background-color: #fff;

    width: 25vw;
    min-height: 80vh;

    overflow-y: auto;

    position: fixed;
    top: 100px;
    right: 0;

    padding: 1em;
    margin-right: 0.8em;

    border-radius: 8px;
}

.chart {
    min-height: 45vh;
}

.product_chart > .subheading {
    text-align: right;
    color: var(--tertiary-color);
}

.chart_buttons_container {
    gap: .5em;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.selected_product {
    gap: .8em;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    font-size: calc(var(--text-size) - .2em);
}

.qtd_product {
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--primary-text-color);
}

.product_info_container {
    padding: 4px;
}