.page_header {
    width: var(--header-width);
    height: 90px;

    background-color: #fff;

    position: fixed;
        top: 0;
        left: var(--navbar-width);
    z-index: 3;

    transition: left .5s, width .5s;
    
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #318aa7, #191970) 10;
    box-shadow: 0px 5px 4px #0000003f;

    justify-content: space-between;
    align-items: center;
}

.heading_container {
    overflow: hidden;
    padding: 4px;
}
.client_container {
    padding: .4em;
    min-width: 20%;
}

.client_space {
    gap: 1em;
}