.page_header {
    width: var(--header-width);
    height: 80px;

    background-color: #fff;

    position: fixed;
        top: 0;
        left: var(--navbar-width);

    transition: left .5s;

    border-bottom: 2px solid var(--primary-color);
    box-shadow: 2px 5px 4px #0000003f;

    justify-content: space-between;
    align-items: center;
}

.heading_container {
    overflow: hidden;
    padding: 4px;
    max-width: 80%;
    min-width: 250px;
}
.client_container {
    padding: 2px;
    min-width: 20%;
}

.client_space {
    gap: 1em;
}