.navbar {
    --navbar-width: 6vw;

    gap: 1em;

    height: 100vh;
    width: var(--navbar-width);

    color: var(--secondary-text-color);
    background-color: var(--primary-color);

    position: fixed;
    z-index: 3;

    transition: width .5s;
}

.navbar.shown {
    --navbar-width: 20vw;
    width: var(--navbar-width);
}

.navbar > .menu_icon_container > i:hover {
    color: var(--tertiary-color-alt);
}

.navbar > .menu > .menu_item:hover {
    background-color: var(--primary-color-alt);
    color: var(--tertiary-color-alt);
}

.navbar .menu_item > a > .menu_item_container > span {
    display: none;
}
.navbar.shown .menu_item > a > .menu_item_container > span {
    display: block;
}
.navbar.shown .menu_item > a > .menu_item_container > i {
    font-size: .8em;
    padding-top: 2px;
    padding-right: 5px;   
}
.navbar .menu_item > a > .menu_item_container > i {
    font-size: 1.2em;
    margin-left: 10px;
    text-align: center;
}