.navbar {
    gap: 1em;
    grid-area: navbar;

    height: 100vh;
    width: 250px;

    color: var(--secondary-text-color);
    background-color: var(--primary-color);

    position: sticky;
}

.menu_icon_container > i {
    font-size: var(--heading-size);
    cursor: pointer;
    transition: color .5s transform .5s;
}

.menu {
    justify-content: center;
}

.menu_item {
    padding: 1.5em 0 1.5em .8em;
    transition: color .5s background .5s;
    cursor: pointer;
}
.menu_item > a > i {
    font-size: .8em;
    padding-top: 2px;
    padding-right: 5px;   
}

.menu_item:hover {
    background-color: var(--primary-color-alt);
}