@import './imports.css';

body {
    display: grid;
    gap: 0;
    grid-template-areas: var(--page-grid);
    background-color: var(--secondary-color);
}

.products, .menu_icon_container, .page_header, .carrinho {
    padding: 0.8em;
}